body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2196F3;
    display: flex;
    justify-content: center;
    background-image: url('../asset/cover.png');
}

.container {
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    color: #000;
    text-align: center;
    padding-bottom: 10px;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    padding-left: 15px;
  }
  
  label {
    display: block;
    color: #000;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background: #2a9df4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width:100%;
    padding: 18px;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    color: black;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  button:hover {
    opacity: .9;
  }